/* General Styles */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Exo 2";
    src: url("./fonts/Exo2-Regular.ttf") format("truetype");
}


body {
    font-family: "Exo 2";
    background-color: #1a1a1a; /* Black */
    color: #ffffff; /* White */
    margin: 0;
    padding: 0;

    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.form-container, .profile-container {
    background-color: #2d2d2d; /* Dark Gray */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 80%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}


#signup-form, #signin-form, #profile-form {
    width: 100%;

}


p {
    margin: 0;
}

h2 {
    color: #bb86fc; /* Purple */
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group > label {
    position: absolute;
    left: 10px;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    background: #2d2d2d;
    padding: 0 5px;
    pointer-events: none;
}

.form-group > input:focus + label,
.form-group > input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%);
    font-size: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #bb86fc;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bb86fc; /* Purple */
    border-radius: 5px;
    background-color: transparent; /* Black */
    color: #ffffff; /* White */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6200ee; /* Blue */
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: #3700b3 !important; /* Dark Blue */
}
button:disabled {
    background-color: #666 !important; /* Gray */
    cursor: not-allowed !important;
}

a {
    color: #bb86fc; /* Purple */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff4444; /* Red */
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.flash-message {
    border-radius: 1rem;
    font-size: 16px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    padding: 1rem;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.logout-button {

    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}



/* Home Page Styles */
.home-container {
    display: grid;
    overflow: hidden;
     grid-template-areas:
    "header"
    "chatbot-messages"
    "footer";
    grid-template-rows:  auto 1fr 50px;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: #1a1a1a; /* Black */
    color: #ffffff; /* White */
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #2d2d2d;
    grid-area: header;
    border-radius: 0 0 1rem 1rem;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-button {
    gap: 0.5rem;
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button[type="submit"] {
    background-color: #6200ee;
    color: white;
    border: none;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #2d2d2d; /* Dark Gray */
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #ffffff; /* White */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1a1a1a;
}


.profile-dropdown:hover .dropdown-content {
    display: block;
}

/* Chatbot Container */
.chatbot-container {
    flex: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    grid-area: chatbot-messages;
}

/* Message Container */
.message-container {
    flex: 1;
    overflow-y: auto;
    max-width: 700px;
    max-height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #2d2d2d; /* Dark Gray */
    border-radius: 10px;
    position: relative;
    align-items: center;
    box-sizing: border-box;

}

/* Message Styles */
.message {
    margin-bottom: 10px;
    display: flex;
    gap: .5rem;
    width: 100%;
}

.advertisement-container {
    position: absolute;
    right: 10px;
    top: 0;
    height: 30%;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
}

.advertisement {
    background-color: #2d2d2d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    gap: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    justify-self: flex-end;
    z-index: 999;
    animation: slideIn 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 900;
}

code {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-family: 'Fira Code', Consolas, 'Courier New', monospace;
    font-size: 0.95em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.message.user {
    justify-content: flex-end;
    animation: slideIn 0.5s ease;
}

.ai-message > p, .user-message > p {
    margin: 0;
    line-height: 1.4;
}

.ai-message {
    background-color: #6200ee; /* Blue */
    color: #ffffff; /* White */
    position: relative;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
    border-radius: 5px;
}
.ai-message::after {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 10px solid #6200ee;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-message {
    background-color: #bb86fc; /* Purple */
    color: #1a1a1a; /* Black */
    word-wrap: break-word;
    position: relative;
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
}

.user-message::after {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid #bb86fc;
}

/* Input Container */
.input-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 1rem;
    box-sizing: border-box;
    grid-area: footer;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #bb86fc; /* Purple */
    border-radius: 5px;
    background-color: #1a1a1a; /* Black */
    color: #ffffff; /* White */
    box-sizing: border-box;
}

.input-container button {
    padding: 10px 20px;
    background-color: #6200ee; /* Blue */
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Make the button smaller */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.slideOut {
    animation: slideOut 0.5s ease;
}

.slideIn {
    animation: slideIn 0.5s ease;
}

.modal-content {
    background-color: #2d2d2d; /* Dark Gray */
    padding: 20px;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    height: 90%;
    min-width: 70%;
    grid-template-areas: 'menu content';
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ffffff;
    height: 100%;
}

.tabs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
}

.tab {
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    display: flex;
    gap: .6rem;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}


#profile-form {
    flex-grow: 1;
}


.menu-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-tab, .settings-tab {
    display: none;
}

.selected-tab {
    display: block;
}

.menu-content {
    overflow-y: auto;
}

.menu-action > button {
    width: auto;
}

.tab.selected {
    background-color: #6200ee;
}

.tab:hover {
    background-color: #1a1a1a;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff; /* White */
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #bb86fc; /* Purple */
}

.slideOut {
    transform: translateX(100%);
    opacity: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6200ee #2d2d2d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #2d2d2d;
}

*::-webkit-scrollbar-thumb {
    background-color: #6200ee;
    border-radius: 0px;
    border: 3px groove #ffffff;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
