{% extends "base.html" %}

{% block content %}
<div class="home-container">
    <div class="profile-section">
        <span>{{ user.name }}</span>
        <div class="profile-dropdown">
            <div class="profile-button">
                <img src="{{ user.photo if user.photo else '../static/images/account.png' }}" alt="Profile Photo" class="profile-photo">

                <div class="dropdown-content">
                    <a class="show-profile">Ver Perfil</a>
                    <a class="logout-button" href="{{ url_for('logout') }}">Cerrar Session</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Chatbot Interface -->
    <div class="chatbot-container">
        <div class="advertisement-container">
            <div class="advertisement">
                <span class="material-symbols-outlined close-button">close</span>
                <p>¡Hola! Soy tu diario AI. 🤖</p>
                <p>¡Puedo ayudarte a registrar tus pensamientos y emociones! 📝</p>
                <p>¡Pregúntame sobre tus entradas de diario! 📅</p>
            </div>
        </div>
        <div class="message-container" id="message-container">
            <!-- Messages will be dynamically added here -->
            <div class="message ai">
                <img class="avatar" src="../static/images/avatar.png">
                <div class="ai-message">
                    <p>"¡Hola humano! Estoy aquí para ayudarte... aunque mi cerebro es solo un conjunto
                        de ceros y unos. Si tienes preguntas, ¡no dudes en lanzarme algunas! ¡Prometo no hacer
                        chistes malos... bueno, lo intentaré!"
                    </p>
                </div>
            </div>
        </div>
    </div>
    <form class="input-container" action="">
        <input type="text" id="user-input" placeholder="Escribe tu mensaje aquí...">
        <button id="send-button">
            <span class="material-symbols-outlined">
                send
            </span>
        </button>
    </form>
</div>

<!-- Profile Modal -->
<div id="profile-modal" class="modal">
    <div class="modal-content">
        <div class="menu">
            <span class="material-symbols-outlined close-button modal-close">close</span>
            <h2>AI Diary</h2>
            <div class="tabs">
                <p class="tab selected">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    Cuenta
                </p>
                <p class="tab">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    Configuración
                </p>
            </div>
        </div>
        <div class="menu-content">
            <div class="profile-tab selected-tab">
                <h3>Perfil</h3>
                <form id="profile-form" action="{{ url_for('update_profile') }}" method="post">
                    <div class="form-group">
                        <input type="text" id="name" name="name" value="{{ user.name }}" placeholder=" " required>
                        <label for="name">Nombre</label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" name="email" value="{{ user.email }}" placeholder=" " required>
                        <label for="name">Email</label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="photo" name="photo" value="{{ user.photo if user.photo else ' ' }}" placeholder=" " required>
                        <label for="photo">Foto</label>
                    </div>
                </form>
                <div class="menu-action">
                    <button type="submit" form="profile-form">Guardar Cambios</button>
                </div>
            </div>
            <div class="settings-tab">
                <h3>Configuración</h3>
                <form>
                    <label for="learn-about-you">Aprender sobre ti</label>
                </form>
                <div class="menu-action">
                    <button type="submit" form="profile-form">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="{{ url_for('static', filename='advertisements.js') }}"></script>
<script src="{{ url_for('static', filename='modal.js') }}"></script>
<script src="{{ url_for('static', filename='messages.js') }}"></script>
{% endblock %}