{% extends "base.html" %}

{% block content %}
<div class="form-container">
      {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Sign Up</h2>
    <form id="signup-form" action="/signup" method="POST">
        <div class="form-group">
            <input type="text" id="name" placeholder=" " name="name" required>
            <label for="name">Name</label>
        </div>
        <div class="form-group">
            <input type="email" id="email" placeholder=" " name="email" required>
            <label for="email">Email</label>
            <span id="email-error" class="error-message"></span>
        </div>
        <div class="form-group">
            <input type="password" placeholder=" " id="password" name="password" required>
            <label for="password">Password</label>
            <span id="password-error" class="error-message"></span>
        </div>
        <div class="form-group">
            <input type="password" id="confirm-password" placeholder=" " name="confirm-password" required>
            <label for="confirm-password">Confirm Password</label>
            <span id="confirm-password-error" class="error-message"></span>
        </div>
        <button type="submit" id="signup-button" disabled>Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('signin') }}">Sign In</a></p>
</div>
{% endblock %}